<div class="content animate-panel" >
        <div class="row">
            <div class="col-md-6">
                <div class="hpanel plan-box hblue">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2 class="m-b-xs">FORMATION</h2>
                            <p class="font-bold text-primary">NEW</p>
                            <div class="m">
                                <i class="pe-7s-display2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <a routerLink="/add" class="btn btn-primary2 btn-outline btn-sm" >Open</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="hpanel plan-box hblue">
                    <div class="panel-body">
                        <div class="text-center">
                            <h2 class="m-b-xs">CV</h2>
                            <p class="font-bold text-success">NEW</p>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                          <a routerLink="/add" class="btn btn-primary2 btn-outline btn-sm" >Open</a>
                        </div>
                    </div>
                </div>
            </div>

</div>
