<app-header></app-header>
<app-navigation-menu></app-navigation-menu>

<div id="wrapper">
  <app-breadcrumb></app-breadcrumb>
  <div class="content animate-panel">

<h3>Update Formation</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="titre">titre</label>
      <input  type="text" class="form-control" id="titre" required [(ngModel)]="formation.titre" name="titre">
    </div>

    <div class="form-group">
      <label for="langue">langue</label>
      <input type="text" class="form-control" id="langue" required [(ngModel)]="formation.langue" name="langue">
    </div>

    <div class="form-group">
      <label for="prix">Prix</label>
      <input type="text" class="form-control" id="prix" required [(ngModel)]="formation.prix" name="prix">
    </div>

    <div class="form-group">
      <label for="emplacement">Emplacement</label>
      <input type="text" class="form-control" id="emplacement" required [(ngModel)]="formation.emplacement" name="emplacement">
    </div>
    <div class="form-group">
      <label for="dateDeFormation">Date</label>
      <input type="text" class="form-control" id="dateDeFormation" required [(ngModel)]="formation.dateDeFormation" name="dateDeFormation">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
    <app-right-sidebar></app-right-sidebar>
    <app-footer></app-footer>
  </div>
</div>
