<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">
            <a href="index.html">
                <img src="assets/images/profile.jpg" class="img-circle m-b" alt="logo">
            </a>

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">Formation en ligne</span>
            </div>
        </div>

        <ul class="nav" id="side-menu">
            <li>
                <a href="index.html"> <span class="nav-label">Dashboard</span>  </a>
            </li>
            <li>
                <a href="#"><span class="nav-label">Formations</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a routerLink="/add" >Create</a></li>
                    <li><a routerLink="/Formation">List of Formations</a></li>
                </ul>
            </li>
            
        </ul>
    </div>
</aside>
