
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">

            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a routerLink="/main-dashboard" routerLinkActive="router-link-active" >Dashboard</a></li>
                    <li class="active">
                        <span>Beneficiaire</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Beneficiaire
            </h2>
        </div>
    </div>

